.header {
    margin: auto;
    width: 100%;
}

.placeholderHeader{
    height: 100px;
    margin: auto;
}

/*Navigation bar*/
.nav{
    background-color: #333;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.nav a:hover {
    background-color: #4CAF50;
    color: black;
}
.nav a.active {
    background-color: #4CAF50;
    color: black;
}
.nav[id="Sub1"] a{
    font-size: 20px;
}

.column{
    float: left;
    padding-left: 10px;
}

.column[id="leftCol"]{
    width: 70%;
}
.column[id="rightCol"]{
    width: 25%;
    padding-left: 20px;
}

.thirdcolumn {
    float: left;
    width: 32%;
    padding: 0px 10px;
}

.halfcolumn{
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.twitter-timeline{
    float: right;
}

.contentBox{
    padding: 0px 25px;
    border: 5px solid #333;
    margin: auto;
    margin-bottom: 10px;
    width: 85%;
    background-color: #c8e4bd;
}
.contentBox[id="height"]{
    height: 100vh;
    
}

main{
    padding: 10px 25px;
}

body{
    background-color: #92cf7b;
}

h1{
    font-family: Helvetica, sans-serif;
    font-size: 40px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
}

p, li{
    font-family: Georgia, serif;
    font-size: 18px;
}

table, tr, td{
    margin: auto;
    padding: 0;
    font-size: 18px;
}

figcaption{
    text-align: center;
}

footer {
    clear: both;
    background-color: rgb(122, 122, 122);
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

/*! jQuery UI - v1.12.1 - 2021-03-29
* http://jqueryui.com
* Includes: core.css, tabs.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=base&cornerRadiusShadow=8px&offsetLeftShadow=0px&offsetTopShadow=0px&thicknessShadow=5px&opacityShadow=30&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=666666&opacityOverlay=30&bgImgOpacityOverlay=0&bgTextureOverlay=flat&bgColorOverlay=aaaaaa&iconColorError=cc0000&fcError=5f3f3f&borderColorError=f1a899&bgTextureError=flat&bgColorError=fddfdf&iconColorHighlight=777620&fcHighlight=777620&borderColorHighlight=dad55e&bgTextureHighlight=flat&bgColorHighlight=fffa90&iconColorActive=ffffff&fcActive=ffffff&borderColorActive=003eff&bgTextureActive=flat&bgColorActive=007fff&iconColorHover=555555&fcHover=2b2b2b&borderColorHover=cccccc&bgTextureHover=flat&bgColorHover=ededed&iconColorDefault=777777&fcDefault=454545&borderColorDefault=c5c5c5&bgTextureDefault=flat&bgColorDefault=f6f6f6&iconColorContent=444444&fcContent=333333&borderColorContent=dddddd&bgTextureContent=flat&bgColorContent=ffffff&iconColorHeader=444444&fcHeader=333333&borderColorHeader=dddddd&bgTextureHeader=flat&bgColorHeader=e9e9e9&cornerRadius=3px&fwDefault=normal&fsDefault=1em&ffDefault=Arial%2CHelvetica%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-tabs-nav{
    background-color: #333;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.ui-tabs-nav li{
    display:inline-block;
    background-color: #333;
    font-size: 20px;
}
.ui-tabs-nav a{
    display:inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.ui-tabs-nav a:hover {
    background-color: #4CAF50;
    color: black;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    background-color: #4CAF50;
	color: #000000;
}